.vscode
node_modules
src/
test/
out/
tsconfig.json
webpack.config.js
**/*.mp
.DS_Store
.gitignore
.editorconfig
.eslintignore
.eslintrc.json
*.vsix
!node_modules/vscode-oniguruma-wasm/release/onig.wasm
